In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Input parameters
START_PRICE  = 1000    # Starting price
STEP_PRICE   = 500     # Price to increase in each row
END_PRICE    = 100000  # Price at the end of the table
ORDERS       = 10      #

In [3]:
def thai_withholding_tax(price):
    return price*0.03

In [4]:
def fastwork_commission(price):
    # Tier 1
    tier1 = min(price,10000) * 0.17
    # Tier 2
    tier2 = min(max(0,price-10000) * 0.12,4800)
    # Tier 3
    tier3 = max(0,price-50000) * 0.07
    
    return tier1+tier2+tier3

In [5]:
def total_cost(price):
    return thai_withholding_tax(price) + fastwork_commission(price)

In [6]:
df = pd.DataFrame(range(START_PRICE,END_PRICE,STEP_PRICE), columns=['Price'])

In [7]:
# df['Fastwork_Fee'] = df['Price'].apply(fastwork_commission)

In [8]:
# df['Tax'] = df['Price'].apply(thai_withholding_tax)

In [9]:
df['Cost'] = df['Price'].apply(total_cost)

In [10]:
print(df)

     Price     Cost
0     1000    200.0
1     1500    300.0
2     2000    400.0
3     2500    500.0
4     3000    600.0
..     ...      ...
193  97500  12750.0
194  98000  12800.0
195  98500  12850.0
196  99000  12900.0
197  99500  12950.0

[198 rows x 2 columns]

In [11]:
for i in range(ORDERS):
    df['Price_{}'.format(i)] = df['Price'] * i
    df['Cost_{}'.format(i)] = df['Price_{}'.format(i)].apply(total_cost)

In [12]:
print(df)

     Price     Cost  Price_0  Cost_0  Price_1   Cost_1  Price_2   Cost_2  \
0     1000    200.0        0     0.0     1000    200.0     2000    400.0
1     1500    300.0        0     0.0     1500    300.0     3000    600.0
2     2000    400.0        0     0.0     2000    400.0     4000    800.0
3     2500    500.0        0     0.0     2500    500.0     5000   1000.0
4     3000    600.0        0     0.0     3000    600.0     6000   1200.0
..     ...      ...      ...     ...      ...      ...      ...      ...
193  97500  12750.0        0     0.0    97500  12750.0   195000  22500.0
194  98000  12800.0        0     0.0    98000  12800.0   196000  22600.0
195  98500  12850.0        0     0.0    98500  12850.0   197000  22700.0
196  99000  12900.0        0     0.0    99000  12900.0   198000  22800.0
197  99500  12950.0        0     0.0    99500  12950.0   199000  22900.0

     Price_3   Cost_3  ...  Price_5   Cost_5  Price_6   Cost_6  Price_7  \
0       3000    600.0  ...     5000   1000.0     6000   1200.0     7000
1       4500    900.0  ...     7500   1500.0     9000   1800.0    10500
2       6000   1200.0  ...    10000   2000.0    12000   2300.0    14000
3       7500   1500.0  ...    12500   2375.0    15000   2750.0    17500
4       9000   1800.0  ...    15000   2750.0    18000   3200.0    21000
..       ...      ...  ...      ...      ...      ...      ...      ...
193   292500  32250.0  ...   487500  51750.0   585000  61500.0   682500
194   294000  32400.0  ...   490000  52000.0   588000  61800.0   686000
195   295500  32550.0  ...   492500  52250.0   591000  62100.0   689500
196   297000  32700.0  ...   495000  52500.0   594000  62400.0   693000
197   298500  32850.0  ...   497500  52750.0   597000  62700.0   696500

      Cost_7  Price_8   Cost_8  Price_9   Cost_9
0     1400.0     8000   1600.0     9000   1800.0
1     2075.0    12000   2300.0    13500   2525.0
2     2600.0    16000   2900.0    18000   3200.0
3     3125.0    20000   3500.0    22500   3875.0
4     3650.0    24000   4100.0    27000   4550.0
..       ...      ...      ...      ...      ...
193  71250.0   780000  81000.0   877500  90750.0
194  71600.0   784000  81400.0   882000  91200.0
195  71950.0   788000  81800.0   886500  91650.0
196  72300.0   792000  82200.0   891000  92100.0
197  72650.0   796000  82600.0   895500  92550.0

[198 rows x 22 columns]